<a class="list-group-item" routerLink="/detail/{{category.id}}">
	<div class="row">
		<div class="col-md-8">{{ category.name }}</div>
		<div class="col-md-4 text-right"><button class="del" aria-hidden="true" (click)="onDelete(category)">X</button></div>
	</div>
</a>