<form class="form" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<label for="" class="col-sm-3">Category Name </label>
		<div class="col-sm-9">
		    <div class="input-group">
		      	<input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Category Name...">
		      	<span class="input-group-btn">
		        	<input type="submit" class="btn btn-success" />
		      	</span>
	    	</div>
		    
		</div>
	</div>
</form>

