<div class="box-header">
	<h3 class="text-center">Category Update</h3>
</div>
<form class="form-horizontal" (ngSubmit)="onSubmit()" *ngIf="category">


	<div class="form-group">
		<label for="" class="col-sm-2 control-label">Category Id </label>
		<div class="col-sm-3">
		    <input type="text" class="form-control" readonly="" value="{{category.id}}" />
		</div>
	</div>

	<div class="form-group">
		<label for="" class="col-sm-2 control-label">Category Name </label>
	    <div class="col-sm-5">
	      	<input type="text" class="form-control" [(ngModel)]="category.name" name="name" placeholder="Category Name...">
    	</div>
	</div>
	
	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default">Update</button>
	    </div>
  	</div>
	
</form>
