<div class="box-header">
	<h3 class="text-center">Category</h3>
</div>
<div class="row">
	<div class="col-md-6">
		<app-category-add (addCategory)="addCategory($event)"></app-category-add>
	</div>
	<div class="col-md-6">

		<div class="list-group">
		  	<app-category-list 	*ngFor="let category of categories" 
		  						[category]="category"
		  						(deleteTodo)="deleteCategory($event)">
		  	</app-category-list>		  
		</div>
	</div>
</div>