<!--The content below is only a placeholder and can be replaced.-->
<div class="" style="text-align: center;">
	<app-header></app-header>
</div>

<div class="container">
	
  	<div class="row">
    	<div class="col-xs-12">
        	<router-outlet></router-outlet>
    	</div>
  	</div>


</div>

